In [121]:
import pandas as pd

initial_data = pd.read_excel("data.xlsx")

In [122]:
initial_data = initial_data.drop(columns=['Unnamed: 17', 'Unnamed: 18'],axis=1)

In [123]:
initial_data.shape

(3397, 17)

In [8]:
initial_data.nunique()

id                        3397
reporting date              57
summary                   2103
location                   240
country                     38
gender                       3
age                         90
symptom_onset               73
If_onset_approximated        3
hosp_visit_date             70
international_traveler      46
domestic_traveler           63
exposure_start               2
exposure_end                 2
traveler                    24
visiting Wuhan              36
from Wuhan                 137
dtype: int64

In [104]:
initial_data.isnull().sum()

id                           0
reporting date               1
summary                      5
location                   230
country                     54
gender                    1712
age                       1890
symptom_onset             2713
If_onset_approximated     2742
hosp_visit_date           2777
international_traveler    3203
domestic_traveler         2909
exposure_start            1791
exposure_end              1795
traveler                  1778
visiting Wuhan            1791
from Wuhan                3059
dtype: int64

In [78]:
null_gender = initial_data[initial_data.gender.isnull()]

In [173]:
initial_data = initial_data[initial_data['gender'].notna()]

In [82]:
#filling female values
for index, row in null_gender.iterrows():
    null_gender['summary']= null_gender['summary'].apply(str)  
    if 'female' in row.summary:
        null_gender.loc[index,'gender'] = 'female'

C:\Users\keert\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [96]:
#filling male values

import re
for index, row in null_gender.iterrows():
    null_gender['summary']= null_gender['summary'].apply(str)  
    if re.search(r'\bmale\b', row.summary):
        null_gender.loc[index,'gender'] = 'male'

C:\Users\keert\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [101]:
#fill remaining nulls with gender=NotKnown
#fill remaining nulls with gender=NotKnown

null_gender['gender'].fillna('NotKnown',inplace=True)

C:\Users\keert\Anaconda3\lib\site-packages\pandas\core\generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [186]:
null_gender.head()

,id,reporting date,summary,location,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,international_traveler,domestic_traveler,exposure_start,exposure_end,traveler,visiting Wuhan,from Wuhan
202,203,2020-01-30,"new confirmed COVID-19 patient in Paris, Franc...",Paris,France,NotKnown,NaN,NaN,NaN,NaN,NaT,NaT,0.0,0.0,0,0,NaN
203,204,2020-02-08,"new confirmed COVID-19 patient in France: 9, i...",France,France,NotKnown,9.0,NaN,NaN,NaN,2020-01-24,2020-01-28,0.0,0.0,0,0,NaN
204,205,2020-02-08,new confirmed COVID-19 patient in France: in c...,France,France,NotKnown,NaN,NaN,NaN,NaN,2020-01-24,2020-01-28,0.0,0.0,0,0,NaN
205,206,2020-02-08,new confirmed COVID-19 patient in France: in c...,France,France,NotKnown,NaN,NaN,NaN,NaN,2020-01-24,2020-01-28,0.0,0.0,0,0,NaN
206,207,2020-02-08,new confirmed COVID-19 patient in France: in c...,France,France,NotKnown,NaN,NaN,NaN,NaN,2020-01-24,2020-01-28,0.0,0.0,0,0,NaN

In [187]:
#merging initial data with imputed gender df

res = initial_data.append(null_gender)
print(res.shape)
print(res.gender.isnull().sum())

(3397, 17)
0

In [188]:
null_age = res[res.age.isnull()]
null_age.shape

(1890, 17)

In [189]:
for index, row in null_age.iterrows():
    if re.search(r'\b40s\b', row.summary):
        null_age.loc[index,'age'] = 45
    elif re.search(r'\b30s\b', row.summary):
        null_age.loc[index,'age'] = 35
    elif re.search(r'\b50s\b', row.summary):
        null_age.loc[index,'age'] = 55
    elif re.search(r'\b60s\b', row.summary):
        null_age.loc[index,'age'] = 65
    elif re.search(r'\b70s\b', row.summary):
        null_age.loc[index,'age'] = 75
    elif re.search(r'\b80s\b', row.summary):
        null_age.loc[index,'age'] = 85
    elif re.search(r'\b90s\b', row.summary):
        null_age.loc[index,'age'] = 90

In [190]:
#fill remaining nulls with age=UnKnown

null_age['age'].fillna('UnKnown',inplace=True)

In [191]:
#merging above merged df with imputed age df

res1 = res[res['age'].notna()]
new_data = res1.append(null_age)
print(new_data.shape)
print(new_data.age.isnull().sum())

(3397, 17)
0

In [192]:
new_data.gender.isnull().sum()

0

In [193]:
new_data.to_excel("new_data.xlsx")